<%= stylesheet_link_tag 'games' %>
<div class="game-menu-frame">
  <div class="game-menu">
    <a href="#">New Game</a>
    <a href="#">Continue Game</a>
    <a href="#">View Games</a>
    <a href="#">End Game</a>
  </div>
</div>
