<%= stylesheet_link_tag 'games' %>
<div class="game-menu-frame">
  <div class="game-menu">
    <a href="/games/new">New Game</a>
    <a href="#">Continue Game</a>
    <a href="/games">Game Info</a>
    <a href="#">End Game</a>
  </div>
</div>
