<h1>This Is FleshScraper</h1>

<div class="about-section">
  <p>FleshScraper is a turn-based zombie survival game,</p>
  <p>Where the goal is not to win, but to survive for </p>
  <p>As long as possible.</p>
</div>
