
// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.game-screen {
}

.game-map {
}

.game-menu-frame {
  width: 100%;
  padding-top: 10%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.game-menu {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  text-align: center;
}

.game-menu a {
  background-color: #eee;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
}

.game-menu a:hover {
  background-color: #ccc;
}

.game-menu a:active {
  background-color: red;
  color: white;
}

.controls-panel {
  float: right;
  padding-top: 40px;
  height: 548px;
  width: 20%;
  background-color: gray;
}

.player-view {
  height: 140px;
  background-image: url("user_image_01.jpg");
  background-size: cover;
}

.player-stats {
  padding-top: 20px;
  text-align: center;
}

.player-commands {
  text-align: center;
  padding-top: 40px;
  display: block;
}

.nav-button {
  margin-top: 4px;
  background-color: #707070;
  border: none;
  padding: 16px 32px;
  width: 80px;
}

.action-button {
  margin-top: 20px;
  background-color: #707070;
  border: none;
  padding: 16px 16px;
  width: 100px;
}


