
// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.game-screen {
  overflow: scroll;
}

.game-map {
}

.game-menu-frame {
  width: 100%;
  padding-top: 10%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.game-menu {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  text-align: center;
}

.game-menu a {
  background-color: #eee;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
}

.game-menu a:hover {
  background-color: #ccc;
}

.game-menu a:active {
  background-color: red;
  color: white;
}

.controls-panel {
  float: right;
  padding-top: 40px;
  margin-left: 40px;
  height: 78%;
  width: 20%;
  background-color: gray;
}

.player-view {
  height: 200px;
  background-image: url("user_image_01.jpg");
  background-size: cover;
}

.player-stats {
  padding-top: 20px;
  text-align: center;
}

.nav-commands {
  margin: 0;
  text-align: center;
  padding-top: 40px;
  padding-left: 16px;
  padding-right: 16px;
  display: grid;
  grid-template-columns: auto auto auto;
}

.action-commands {
  text-align: center;
  padding-top: 80px;
  display: block;
}

.delete-command {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  display: block;
}

.delete-button {
  cursor: pointer;
  margin: 0;
  height: 40px;
  width: 110px;
  background-color: #707070;
  color: darkred;
  border: none;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  outline: none;
}

.nav-button {
  cursor: pointer;
  margin: 0;
  height: 70px;
  background-color: #707070;
  border: none;
  text-decoration: none;
  font-family:'Roboto',sans-serif;
  outline: none;
}

.nav-button:active {
  background-color: #545454;
}

.action-button {
  margin-top: 20px;
  background-color: #707070;
  border: none;
  padding: 16px 16px;
  width: 100px;
  text-decoration: none;
  font-family:'Roboto',sans-serif;
  outline: none;
}

.action-button:active {
  background-color: #545454;
}

.nav-nw {
  position: relative;
  top: 34px;
  left: 34px;
  width: 45px;
  height: 5px;
  background-color: black;
  display: block;
  border: none;
  transform: rotate(-135deg);
}

.nav-nw:after {
  content: '';
  position: absolute;
  width: 20px;
  height: 5px;
  top: -6px;
  right: -4px;
  background-color: black;
  transform: rotate(45deg);
}

.nav-nw:before {
  content: '';
  position: absolute;
  width: 20px;
  height: 5px;
  top: 6px;
  right: -4px;
  background-color: black;
  transform: rotate(-45deg);
}

.nav-n {
  position: relative;
  top: 34px;
  left: 34px;
  width: 45px;
  height: 5px;
  background-color: black;
  display: block;
  border: none;
  transform: rotate(-90deg);
}

.nav-n:after {
  content: '';
  position: absolute;
  width: 20px;
  height: 5px;
  top: -6px;
  right: -4px;
  background-color: black;
  transform: rotate(45deg);
}

.nav-n:before {
  content: '';
  position: absolute;
  width: 20px;
  height: 5px;
  top: 6px;
  right: -4px;
  background-color: black;
  transform: rotate(-45deg);
}
.nav-ne {
  position: relative;
  top: 34px;
  left: 34px;
  width: 45px;
  height: 5px;
  background-color: black;
  display: block;
  border: none;
  transform: rotate(-45deg);
}

.nav-ne:after {
  content: '';
  position: absolute;
  width: 20px;
  height: 5px;
  top: -6px;
  right: -4px;
  background-color: black;
  transform: rotate(45deg);
}

.nav-ne:before {
  content: '';
  position: absolute;
  width: 20px;
  height: 5px;
  top: 6px;
  right: -4px;
  background-color: black;
  transform: rotate(-45deg);
}
.nav-w {
  position: relative;
  top: 34px;
  left: 34px;
  width: 45px;
  height: 5px;
  background-color: black;
  display: block;
  border: none;
  transform: rotate(-180deg);
}

.nav-w:after {
  content: '';
  position: absolute;
  width: 20px;
  height: 5px;
  top: -6px;
  right: -4px;
  background-color: black;
  transform: rotate(45deg);
}

.nav-w:before {
  content: '';
  position: absolute;
  width: 20px;
  height: 5px;
  top: 6px;
  right: -4px;
  background-color: black;
  transform: rotate(-45deg);
}
.nav-e {
  position: relative;
  top: 34px;
  left: 34px;
  width: 45px;
  height: 5px;
  background-color: black;
  display: block;
  border: none;
  transform: rotate(-0deg);
}

.nav-e:after {
  content: '';
  position: absolute;
  width: 20px;
  height: 5px;
  top: -6px;
  right: -4px;
  background-color: black;
  transform: rotate(45deg);
}

.nav-e:before {
  content: '';
  position: absolute;
  width: 20px;
  height: 5px;
  top: 6px;
  right: -4px;
  background-color: black;
  transform: rotate(-45deg);
}
.nav-sw {
  position: relative;
  top: 34px;
  left: 34px;
  width: 45px;
  height: 5px;
  background-color: black;
  display: block;
  border: none;
  transform: rotate(135deg);
}

.nav-sw:after {
  content: '';
  position: absolute;
  width: 20px;
  height: 5px;
  top: -6px;
  right: -4px;
  background-color: black;
  transform: rotate(45deg);
}

.nav-sw:before {
  content: '';
  position: absolute;
  width: 20px;
  height: 5px;
  top: 6px;
  right: -4px;
  background-color: black;
  transform: rotate(-45deg);
}
.nav-s {
  position: relative;
  top: 34px;
  left: 34px;
  width: 45px;
  height: 5px;
  background-color: black;
  display: block;
  border: none;
  transform: rotate(90deg);
}

.nav-s:after {
  content: '';
  position: absolute;
  width: 20px;
  height: 5px;
  top: -6px;
  right: -4px;
  background-color: black;
  transform: rotate(45deg);
}

.nav-s:before {
  content: '';
  position: absolute;
  width: 20px;
  height: 5px;
  top: 6px;
  right: -4px;
  background-color: black;
  transform: rotate(-45deg);
}
.nav-se {
  position: relative;
  top: 34px;
  left: 34px;
  width: 45px;
  height: 5px;
  background-color: black;
  display: block;
  border: none;
  transform: rotate(45deg);
}

.nav-se:after {
  content: '';
  position: absolute;
  width: 20px;
  height: 5px;
  top: -6px;
  right: -4px;
  background-color: black;
  transform: rotate(45deg);
}

.nav-se:before {
  content: '';
  position: absolute;
  width: 20px;
  height: 5px;
  top: 6px;
  right: -4px;
  background-color: black;
  transform: rotate(-45deg);
}

